/* Alexander Carron - May 17th 2022 */
:root {
	--most-light-color: #FFFFFF;
	--very-light-color: #E6E6E6;
	--call-to-action-color: #ffbf00;
	--bright-color: #c3beb5;
	--light-color: #3055aa;
	--dark-color: #265471;
	--very-dark-color: #343434;
	--most-dark-color: #000000;
	--bright-good-color: #a7cdaa;
	--dark-good-color: #143116;
	--bright-bad-color: #cda7a7;
	--dark-bad-color: #311414;
}

@font-face {
	font-family: Font-Name;
	src: url(../fonts/font-name.ttf);
}

html {
	background: var(--very-light-color);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body

/* ^ HEADER */
header {
	box-sizing: border-box;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	background: var(--very-dark-color);
	
	height: 100px;
	padding: 10pt;
	
	text-align: center;
	color: var(--very-light-color);
}
		
	header>h1 {
		font-weight: bold;
		font-size: 48pt;
		text-shadow: 5px 5px 5px #000000;
	}
	
	header>img {
		height: 80px;
		
		margin-right: 20px;
		filter: drop-shadow(5px 5px 5px #000000);
	}
	
/* ^ NAV */
nav {
	box-sizing: border-box;
	
	position: sticky;
	top: 0;
	
	display: flex;
	justify-content: flex-start;
	align-items: center;
	
	box-shadow: 0 0 2vw #000000;
	
	background: #000000A0;
	width: 100vw;
	height: 50px;
	padding-left: 20px;	
	
	z-index: 1;
}
		
	/* ! NAVIGATION MENU LINKS */
	nav a {
		color: var(--very-light-color);
	}
	
	nav>a {
		box-sizing: border-box;
		
		padding: 0 15px;
		
		color: var(--very-light-color);
		text-shadow: 2px 2px 1px #000000;
		text-decoration: none;
		font-size: 16pt;
		font-weight: bold;
		
		transition: filter 150ms ease;
	}

	nav>a:hover {
		filter: brightness(150%);
	}
	

/* ^ MAIN */
	/* @ SECTIONS */
	main>section {
		box-sizing: border-box;
		
		padding: 60px 50px;
		
		background: var(--most-light-color);
		color: var(--most-dark-color);
	}
	
	/* @ Add Book Form Section */
	main>section#add_book_section {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}
		
		/* ! Add Book Button */
		main>section#add_book_section button {
			background: var(--call-to-action-color);
			width: max-content;
			padding: 10px 20px;
			border: none;
			border-radius: 10px;
			
			font-size: 26px;
			font-weight: bold;
			
			cursor: pointer;
		}
		
		/* ! Add Book Form */
		main>section#add_book_section form {
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
		
			/* & Input Containers */
			main>section#add_book_section div.input {
				display: flex;
				flex-direction: column;
				gap: 3px;
			}
		
				/* & Labels */
				main>section#add_book_section label {
					font-size: 18px;
					color: var(--dark-color);
				}
		
				/* & Inputs */
				main>section#add_book_section input {
					width: min(250px, 100%);
					font-size: 18px;
					font-weight: bold;
					border: 3px solid var(--dark-color);
					border-radius: 5px;
				}
		
			/* & Checkbox Input Container */
			main>section#add_book_section div.checkbox_input {
				display: flex;
				flex-direction: row;
				gap: 5px;
			}
		
				/* & Checkbox Input */
				main>section#add_book_section div.checkbox_input input {
					width: auto;
				}
		
	/* @ Books */
		/* ! Book Container */
		main>section>div#book_container {
			display: flex;
			flex-wrap: wrap;
			gap: 10px;
		}
	
			/* ! Books */
			main>section>div#book_container>div.book {
				display: flex;
				flex-direction: column;
				width: max-content;
				margin: 10px;
				padding: 15px;
				padding-right: 20px;
				
				background: var(--bright-color);
				border-radius: 10px 0 0 10px;
				box-shadow: 0 0 15px 0px #00000030;
			}
		
				/* & Title */
				main div.book h3.book_title {
					margin: 0 0 2px;
					
					font-size: 26px;
				}
				
				/* & Top Book Section */
				main div.book div.top_of_book_container {
					display: flex;
					gap: 25px;
				}
				
					/* ~ Remove Book Button */
					main div.book div.top_of_book_container button.remove_book_button {
						aspect-ratio: 1;
						height: 26px;
						margin-left: auto;
						background: var(--bright-bad-color);
						border: none;
						border-radius: 50%;
						
						color: var(--dark-bad-color);
						
						cursor: pointer;
					}
				
				/* & Bottom Book Section */
				main div.book div.bottom_of_book_container {
					margin-top: 200px;
					display: flex;
					gap: 25px;
				}
		
					/* ~ Total Pages */
					main div.book p.book_total_pages {
						color: var(--very-dark-color);
						font-size: 14px;
					}
			
					/* ~ Read Status */
					main div.book p.book_read_status {
						margin-left: auto;
						
						font-size: 14px;
						text-align: right;
						
						cursor: pointer;
					}
				
						/* ~ Read Status */
						main div.book p.not_read {
							color: var(--dark-bad-color);
						}
				
						/* ~ Not Read Status */
						main div.book p.read {
							color: var(--dark-good-color);
						}

	/* @ Every Other Section */
	main>section:nth-child(2n) {
		background: var(--very-light-color);
	}
		
		/* ! Section Header */
		main>section h2 {
			font-size: 36pt;
			color: var(--dark-color);
			font-weight: bold;
		}

		/* ! Section Sub-Headers */
		main>section h3 {
			font-size: 28pt;
			margin-top: 20px;
			font-weight: bold;
		}

		/* ! Section Body Paragraph Text */
		main>section p {
			font-size: 14pt;
			margin-top: 10px;
		}
		
/* ^ FOOTER */
footer {
	box-sizing: border-box;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	
	box-shadow: 0 0 1vw #000000;
	
	padding: 30px;
	
	background-color: var(--most-dark-color);
	color: var(--most-light-color);
	text-align: center;
}
	
	/* @ Footer Sections */
	footer section {
		margin: 20px 10px;
	}

		/* ! Footer Links */
		footer a {
			color: var(--call-to-action-color);
			font-weight: normal;
		}

		/* ! Footer Headers */
		footer h2 {
			font-size: 18pt;
			font-weight: bold;

			margin-bottom: 10px;
		}

		/* ! Footer Body Paragraph Text */
		footer p {
			display: flex;
			justify-content: center;
			align-items: center;
			
			font-size: 13pt;
			font-weight: normal;
		}
		
		/* ! Footer Tiny Icons */
		footer img {
			height: 13pt;
			margin: 0 5px;
		}



/* * Font Styling */
em {
	font-style: italic;
}
strong {
	font-weight: 800;
}

/* * Flex Templates */
.flex-column {
	display: flex;
	flex-direction: column;
}

/* * Grid Templates */
.grid-contianer {
	display: grid;
	grid-template: 
		1fr / 
			1fr;
	grid-auto-rows: 1fr;
	grid-auto-columns: 1fr;
	gap: 0px;
}

/* * Inputs */
div.input{
	display: flex;
	flex-direction: column;
}

/* * Input Labels */
label {
	font-weight: 550;
	text-transform: uppercase;
	letter-spacing: 1px;
}